
.aboutcontainer{
    /* border: 2px solid blue; */
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 250px; */
    width: 100%;
    /* background-image: url('https://wallpapercave.com/dwp2x/TeItEwg.jpg'); */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: rgb(66, 38, 37); */

}
.aboutcontainer h1{
    text-align: center;
    color: aqua;
    padding: 2px 0px;
   
}

.aboutfirst{
    /* border: 2px solid green; */
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 40%; */
    /* height: 100%; */
}
.aboutfirst p{
    height: auto;
    /* width: 410px; */
    /* color: white; */
    font-family: cursive;
    /* font-size: 18px; */
}
.circle{
    height: 250px;
    width: 250px;
    /* border: 1px solid white; */
    border-radius: 50%;
    background-image: url('./image1.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
.skills{
    /* background-color: rgb(221, 180, 180); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}
.skills img{
    width: 100%;
    height: 50px;
    /* border: 2px solid red; */
    background-color:rgb(253, 222, 222);
    border-radius: 9px;
}
@media only screen and (max-width: 425px) {
    .aboutfirst p{
        width: 100%;
    }
.skills img{
    height:30px;
}
}
