* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Poppins:wght@300&family=REM&display=swap");
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
.navbar{
  position: sticky;
  top: 0px;
  z-index: 1;
}
nav{
  background-color:#eee;
  color:#222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 900;
  height: 70px;

}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
  cursor: pointer;
 opacity: 1;
}
a{
  text-decoration: none;
  color: #222;
}
.icon img{
  height:30px ;
  width: 100%;
  /* border: 2px solid red; */
  display: none;
}

@media only screen and (max-width: 769px){
  .icon img{
      display: block;
  }
  nav ul{
      display: none;
      opacity: 0;
      height: auto;
      background-color:#eee;
      color: #222;
      position: absolute;
      top: 70px;
      right: 0px;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 20px 0px ;
      border-radius:0px 0px 20px 20px ;
  }


}
.container {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url("https://wallpapercave.com/dwp2x/TeItEwg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box1 {
  /* border: 2px solid green; */
  /* height: 476px; */
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.box1 h1 {
  /* border: 2px solid red; */
  margin: 0px 0px;
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
  color: aqua;
}
.box1 p {
  /* border: 2px solid red; */
  margin: 0px 0px;
  font-size: 20px;
  font-weight: 900;
  color: antiquewhite;
}
.box1 a {
  /* border: 2px solid red; */
  margin: 5px 0px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 2px 10px;
  background-color: rgb(33, 136, 56);
  border-radius: 9px;
}
.box1 a:hover{
  color: white;
  background-color: rgb(0, 105, 217)
}
.box2 {
  /* border: 2px solid blue; */
  /* height: 476px; */
  width: 50%;
}
.box2 img {
  width: 100%;
  height: auto;
}
.about h1 {
  background-color: rgb(92, 92, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:aqua;
}
.container2 {
  /* border: 2px solid red; */

  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  height: 400px;
  /* text-align: center; */
  margin: 0px 0px;
}
.div1 {
  max-width: 800px;
  box-shadow: 0px 0px 10px 5px lightcoral;
  margin: 20px 36px;
  background-color: white;
  border-radius: 9px;
}
.div1 h2 {
  margin: 0px 0px;
}
.div1 p {
  text-align: center;
  /* font-size: 20px; */
  /* font-weight:lighter; */
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
}
.skills li {
  /* border: 2px solid black; */
  list-style: none;
  padding: 5px 20px;
  /* margin: 5px 0px; */
  background-color: rgb(51, 51, 51);
  color: white;
  border-radius: 9px;
}
@media only screen and (max-width: 714px){

  .skills ul{
    flex-direction: column;
    text-align: center;
  }
  .skills li{
    width: 50%;
    margin: 2px 0px;
  }
  .container2{
    text-align: center;
  }
  .about h1{
    font-size: 25px;
  }
  .navbar{
    flex-direction: column;
  }
}
/* @media only screen and (max-width: 714px){

} */
@media only screen and (min-width: 1439px) and (max-width: 2560px) {
  .box2 img {
    width: 56%;
    height: auto;
  }
}
@media only screen and (min-width: 1023px) and (max-width: 1440px) {
  .box2 img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .box2 img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 422px) and (max-width: 768px) {
  .box2 img {
    width: auto;
    height: 215px;
  }
  .box1 {
    width: 51%;
  }
  .box1 h1 {
    margin: 0px 0px;
    font-weight: 900;
    font-style: italic;
    font-size: 25px;
  }
  .box1 a {
    /* border: 2px solid red; */
    margin: 0px 0px;
    /* font-size: 1.5rem; */
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    background-color: rgb(33, 136, 56);
    border-radius: 9px;
    font-size: 20px;
    /* display: none; */
  }
  .box1 p{
    font-size: 20px;
  }
 
}



@media only screen and (min-width: 374px) and (max-width: 423px) {
  .box2 img {
    width: auto;
    height: 180px;
  }
  .box1 {
    width: 51%;
  }
  .box1 h1 {
    margin: 0px 0px;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
  }
  .box1 a {
    /* border: 2px solid red; */
    margin: 1px 0px;
    /* font-size: 1.5rem; */
    text-decoration: none;
    color: white;
    padding: 0px 4px;
    background-color: rgb(33, 136, 56);
    border-radius: 9px;
    font-size: 20px;
    /* display: none; */
  }
  .box1 p{
    font-size: 17px;
  }
  }
  

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    .box2 img {
      width: auto;
      height: 160px;
    }
    .box1 {
      width: 51%;
    }
    .box1 h1 {
      margin: 0px 0px;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    }
    .box1 a {
      /* border: 2px solid red; */
      margin: 0px 0px;
      /* font-size: 1.5rem; */
      text-decoration: none;
      color: white;
      padding: 0px 10px;
      background-color: rgb(33, 136, 56);
      border-radius: 9px;
      font-size: 16px;
      /* display: none; */
    }
    .box1 p{
      font-size: 15px;
    }
  
  
    }



    .projectdemo{
      /* border: 2px solid red; */
      height:auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px 0px;
      margin: 10px;
      
  
  }
  .demobtn{
      box-shadow: 3px 3px 3px 5px lightcoral;
      /* box-shadow: 3px 3px 3px 5px lightgrey; */
      /* border: 3px solid red; */
      margin: 10px;
      /* flex: 1; */
      width: 40vw;
      border-radius: 9px;
  }
  .projectdemo video{
      width: 100%;
      height: auto;
      margin: 0px 0px;
      border-radius: 9px;
      
  }
  .openurl{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      margin: 2px 0px;
      cursor: pointer;
  }

  @media (max-width: 768px) {
      /* Adjust styles for smaller screens */
      .demobtn {
          width: 350px;

      }
      .container2{
        background-color:rgb(253, 222, 222);
      }
     .projectdemo{
      background-color:rgb(253, 222, 222);
     }
  }
